/* vars */
:root {
  --my-grey: rgba(52, 58, 64, 0.95);
  --near-black: rgb(52, 58, 64);
  --near-white: rgb(248,249,250);
}

/* Smooth scrolling */
html {
	scroll-behavior: smooth;
}

/* ------------- */
/* About section */
/* ------------- */
.jumbotron{
  background: 
    linear-gradient(rgba(0, 0, 250, 0.25),rgba(125, 250, 250, 0.45)),
    url(https://source.unsplash.com/1600x1050/?computer+screen);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:white !important;
  height:100vh;
}
/* End of About section */

/* --------------- */
/* Project section */
/* --------------- */
#projects .card {
  transition: all 0.5s ease-in-out;
  margin: 10px 0;
}

#projects .card img { 
  object-fit: cover;
  object-position: 50% 50%;
  height: 230px; 
}

#projects .card:hover{
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px 0px grey;
  transition: all 0.5s ease-in-out;
}
/* End of Project section */

/* --------------- */
/* Contact section */
/* --------------- */
#contact li {
  display: inline-block;
}

#contact li {
  margin-top: 10px;
  width: 75px;
  text-align: center;
  font-size: 20px;
}

#contact i {
  padding: 11px 0;
  border: 1px solid var(--my-grey);
  background-color: var(--my-grey);
  color: white;
  border-radius: 30px;
  width: 45px;
  transition: all 0.5s ease-in-out;
}

#contact i:hover {
  border: 1px solid #5387ff;
  background-color: #5387ff;
  transform: translateY(-2px);
  box-shadow: 0px 5px 10px 0px grey;   /* Horizontal Length | Vertical Length  | Blur Radius | Spread Radius | Shaddow colour */
  transition: all 0.5s ease-in-out;
}

#contact {
  margin-bottom: 80px;
}

#phoneNum {
  margin-top: 20px;
  font-size: 14px;
}

#phoneNum a {
  color:blue;
}
/* End of Contact section */

/* -------------- */
/* Skills section */
/* -------------- */
/* Chart from https://www.chartjs.org */
canvas {
  margin-top: 50px;
  max-height: 500px;
  max-width: 500px;
}

/* Make the chart responsive */
#my-chart {
width: 100%;
height: auto;
margin: 25px auto;
}
/* End of Skills sections */

/* Scroll to top "button" (fixed at bottom of page) */
#topButton {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 99;
  background-color: rgba(40, 110, 246, 0.85);
  color: white;
  padding: 10px; 
  border-radius: 8px;
}

#topButton:hover {
  background-color:rgb(218, 47, 61);
}